SmartCallAssistant/.idea/misc.xml
SmartCallAssistant/.idea/vcs.xml
SmartCallAssistant/app/src/main/java/com/nafshadigital/smartcallassistant/webservice/IWebServiceDeclaration.java
SmartCallAssistant/src/main.zip
SmartCallAssistant/src/main/.svn/entries
SmartCallAssistant/src/main/.svn/format

SmartCallAssistant/local.properties
SmartCallAssistant/app/release/SmartCallAssistant-01Mar-app-release.apk
SmartCallAssistant/app/src/main.zip
SmartCallAssistant/app/src/main/.svn/pristine/00/00bf05452c1b14d2140c85509f6671f3691dc47f.svn-base
SmartCallAssistant/.idea/misc.xml
SmartCallAssistant/.idea/misc.xml
SmartCallAssistant/.idea/misc.xml
SmartCallAssistant/.idea/runConfigurations.xml
SmartCallAssistant/.idea/runConfigurations.xml
SmartCallAssistant/.idea/gradle.xml
SmartCallAssistant/.idea/workspace.xml___jb_old___
SmartCallAssistant/.idea/workspace.xml___jb_tmp___
SmartCallAssistant/.idea/caches/gradle_models.ser
SmartCallAssistant/.idea/caches/gradle_models.ser
SmartCallAssistant/.idea/caches/gradle_models.ser
