<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nafshadigital.smartcallassistant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.PROCESS_INCOMING_CALLS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:name=".helpers.AppRunning"
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name=".activity.SyncContacts"></activity>
        <activity
            android:name=".activity.SplashScreen"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Login"
            android:configChanges="orientation|screenSize" />

        <receiver android:name=".service.AutoStartBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".activity.CallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.Dashboard"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".floatingAnimation.TransparentActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity.NavigationDrawer"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.MyProfile"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.Contacts"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.CallLogs"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.CallmebackActivity"
            android:configChanges="orientation|screenSize" />

        <service
            android:name=".service.SyncContactsService"
            android:enabled="true" />
        <service
            android:name=".activity.BgPCICallService"
            android:enabled="true" />

        <receiver android:name=".activity.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> <!-- <activity android:name=".activity.NotifyActivity" /> -->
        <activity
            android:name=".activity.ShareHeartsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.SendHeartActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.FavouriteActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.StoreContactsInSQLLiteService"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.Settings"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.Remainder"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.EnterMobilenumber"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.NumberVerify"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.TestActivity"
            android:configChanges="orientation|screenSize" />

        <service
            android:name=".activity.NotifyTransparent"
            android:enabled="true" />
        <service
            android:name=".service.FireBaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.LoginViaDeviceid"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.CallDetail"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.Help"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.NotificationDetail"
            android:configChanges="orientation|screenSize" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0cd8f8b435d39437e1339d1c18640cbc92e1775e" />
    </application>

</manifest>